
html{
	margin: 0;
  padding: 0;
}
a:link {
      text-decoration: none;
	color: inherit;
}
.thumbnail {
      text-decoration: none;
	color: inherit;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev:hover{
	background-color: rgba(255, 255, 255, 0.3);	
}
   
.carousel-control-next:hover{
	background-color: rgba(255, 255, 255, 0.3);	
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.thumbnail:hover {
	color: inherit;
	
	
}

.card:hover {
	color: inherit;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 6px 10px rgba(0,0,0,.2);
}

@media (min-width: 768px) {
    
    .nxt-itm {
      transform: translateX(66.6666%);
      display: flex;
      
    }
    .prev-itm {
      transform: translateX(0%);
      display: flex;
     
    }

    .after-nxt-itm {
      transform: translateX(100%);
      display: flex;
    }
    
    .before-prev-itm {
      transform: translateX(-33.3333%);
      display: flex;
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .active {
      transform: translateX(33.33333%);
      /* transform: translateX(33.33333%); */
    }
}


@media (max-width: 767px) {
.card-text {
	display: none;
}
  .img-inner{
    height: 40vh;
  }
  .carousel-item > div{
    width: 100%;
  }

  .nxt-itm {
    transform: translateX(100%);
    display: flex;
    
  }
  .prev-itm {
    transform: translateX(-100%);
    display: flex;
   
  }


}

@media (min-width: 768px) {
	.card-text {
		display: visible;
	}
  .img-inner{
    height: 25vh;
  }
  .carousel-item > div{
    width: 33.33333%;
  }
  /* .img-wrapper {
    max-height: 15vh;
  } */
  .img-list{
    aspect-ratio: 1.5;
  }
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    /* .img-wrapper {
      max-height: 50vh;
    } */
    .img-list{
      aspect-ratio: 1.4;
    }
}
.card {
	border: none;
}
.spc{
	border: none;
}

.img-inner{
	object-fit: cover;
  width: 100%;
	object-position: center;
	overflow: hidden;
	/* height: 25vh;
  width: 100 vh; */
}

.carousel-item {
	object-fit: cover;
	object-position: center;
	height: 50vh;
  
	width: 100%!important;
}
.img-list{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  
  object-fit: fill;
}
.img-wrapper {
  min-height: 100%;
  display: flex;
  
  overflow: hidden
}

.card:hover{
  cursor: pointer;
}