.navbar {
    background-color: black;
}
html{
	margin: 0;
}
a:link {
      text-decoration: none;
	color: inherit;
}
.thumbnail {
      text-decoration: none;
	color: inherit;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev:hover{
	background-color: rgba(255, 255, 255, 0.3);	
}
   
.carousel-control-next:hover{
	background-color: rgba(255, 255, 255, 0.3);	
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.thumbnail:hover {
	color: inherit;
	
	
}

.card:hover {
	color: inherit;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 6px 10px rgba(0,0,0,.2);
}

@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
  
}
@media (max-width: 1000px) {
.card-text {
	display: none;
}
}

@media (min-width: 1001px) {
	.card-text {
		display: visible;
	}
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}
.card {
	border: none;
}
.spc{
	border: none;
}

