<!doctype html>
<html lang="en">

<head>
  <title>BR3AK_ME</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  
  <link href="/styles/break-me.css" rel="stylesheet">
</head>

<body>
 
  <main>
    
   
    <canvas class="game-screen"></canvas>



<img id="snowflake" src="/imgs/snow.svg" width="500" height="500" style="display: none;" />
<img id="blank" src="/imgs/blank.svg" width="300" height="300" style="display: none;" />
<img id="robot" src="/imgs/robot.svg" width="500" height="500" style="display: none;" />
</main>
  
    <script src="js/break-me.js">
  </script>
</body>

</html>