<!doctype html>
<html lang="en">

<head>
  <title>City of The Future</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  
  <link href="/styles/city-of-the-future.css" rel="stylesheet">
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>
  <main>
    
   
    <canvas class="backgrnd-canvas bg-white"></canvas>

    <div class="card bg-transparent">
        <div class="card-body" >
            <div class="row .me-5">
			
                <div class="col-xs-1 col-md-3"></div>
                <div class="col-xs-10 col-md-6 bg-white p-md-4 rounded">
		


			<h1>The City of the Future</h1>
			<div style="margin-top: 20px;"></div>
			<footer class="blockquote-footer">By Nikolay Blagoev</footer>
			<div style="margin-top: 10px;"></div>
			<div class="text-left">
                   	“Homo Sapiens — circa 2000”
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
                   	Twas a night around Christmas. Or so the history books would tell us. But they celebrated Christmas in a different manner compared to us. The lake had frozen over, at least that much is certain. It was almost a tradition for him to go ice skating when it freezes. When he was a child it happened rarely, but when it did, his whole family and he would go there, be it weekend or workday. These days were few and precious. Then he used to go with friends after school. Then it froze almost every year. But now he went alone. And no one was at fault, really — the lake was frozen every year for a couple of weeks at a time. It was no longer that special and rare occasion. And with everyone busy with work, seldom did they have the time to join him. This we gather from all the pictures they left behind. A post or two every year, a few likes, some comments “wish I were there too” and their presence was felt at the lake too.
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
                    	That day he had finished work early. The registry informed us that he clocked out at around 16. He had taken his ice skates from his apartment and after a short drive he was at the lake. It used to take them longer when he was a child, but now the city had spilled out even more, slowly creeping towards the lake, enveloping all in its path. Last few days it had started getting warmer. The snow in the city had started to melt at places and he knew this would be one of the last chances he would get this year to go ice skating. Noone was at the lake. But he preferred it that way. Noone could have been there — tomorrow was a workday and the children had long stopped going to it. He had it all to himself.


			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
                    It was really quiet. All the birds had flown somewhere far south. All he could hear was the scraping of the iron against the ice. He had begun to reminisce on his past visits here. The pure glee and excitement he felt when they got in the car and the triumphant ecstasy when he saw the lake. He could barely wait while his father was tying his ice skates. He would speed around, jump, and spin (much to his mother disliking). And he would have the biggest grin on his face, a grin so wide it was straying the muscles on his face. His parents would try to catch up to him. Luckily for him they were too busy helping his younger sister keep his balance, for if they did get a hold of him, he knew he would be forced to stick to their slow pace. He could only stop when he would bump into another crazed kid. When he grew up he would come here with his friends after school and they would spend the entire evening playing around in the snow. Ay, how many days he had missed school, because he would get sick afterwards. His mum would scold him and ground him for “the next year when the snow falls”, but he always managed to sneak out. Which reminded him he had to call his parents tonight. Then when he left for university, he missed a couple of years. But a while ago he had found his old pair of skates, which invigorated something in him. 
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			A loud crack brought him back to the present. He slowed down and looked around to find the origin of the noise. Suddenly he felt weightless as if he was being sucked into the sky. Then when his feet hit the cold water he realised what had happened. The ice had given under his weight. He started to trash around to keep on the surface, but his muscles quickly became stiff. He tried to grab a hold of the ice, but it just cracked again and he started sinking. He let out one last scream for help before his head was submerged.

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			As he was slowly sinking down he looked up towards the sky. The ice looked beautiful from underneath. There was no anger, no regret, no sorrow in him. His life didn’t flash before his eyes. There was no sudden fit of strength. Just a final whimper.

			</div>

	

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 It was the fall that woke him up. He had landed on his side, luckily. The pain started numb at first, but as he tried to move his whole body felt stiff and his left shoulder reminded him of the rather passionate impact with the floor. He tried opening his eyes but they felt stuck somehow. He reached to grab his night stand by his bed, but lost balance again when he couldn’t find it. Rubbing his eyes, he finally managed to open them to look around. Weirdly his face felt wet somehow. The light blinded him.
			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 When his eyes finally adjusted he looked around. He did not recognise this place. He was laying on a tiled floor. The room he was in seemed too large for his bedroom.


			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			Then the shivers came in. His whole body was shaking. He curled up to try to warm himself. His teeth were audibly chattering. His mouth felt numb and dry. He opened it a few times to try to adjust his tongue and swallow.

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 Looking around he saw some glass panes with ropes around them. There was a car inside one of them, a display of some laptops in another. He thought he must have been in an exhibition of sorts.

			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 Then the headache kicked in. The whole room appeared to be spinning slowly, tilting a bit to the left. He thought he had drunk too much again — a university student, waking up after a night of fun in some strange place. God, what had he done the night before? His head hurt when he tried to remember. Water! He needed water to combat the hangover.

			</div>



			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 He slowly lifted himself up. To help him keep balance he grabbed a hold of a sign next to him. When he managed to secure himself on both of his feet he looked at it more carefully. On top of the pole was a tablet, the language on which he did not understand. Where had he ended up? Too much drinking could not be good for his liver at that age. As he looked more carefully at the tablet he saw the letters slowly shifting, reordering, morphing, until they had turned to a script he was familiar with. The text was a few paragraphs with a title at the top, which read: “Homo Sapiens, circa 2000”. He looked at the display from where he fell. It resembled a snow globe, with artificial snow on the ground, a christmas tree with presents under it, and two panes at the back on which a small village was depicted. In the middle of it all was a large ice cube that resembled like a chair.

			</div>



			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 Had he ended up in a museum? Oh, he would be in a world of trouble when the staff comes in. Hopefully, whatever country this was, didn’t have laws against public intoxication.

			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 As he was making his way through to the exit he tried to remember how he got here. When did they start drinking? Perhaps some of his friends were nearby? But… no that couldn't be it… He barely hung outside his work... HIS WORK!

			</div>



			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			Suddenly a new feeling took him over, one that everyone, be it child or adult, knows — the fear of running late. He quickly reached for his phone, but alas — it would not turn on. Would his boss fire him over this? What a display of complete idiocy — getting so drunk as an adult you do not even know where you are. Maybe he couldn feign sickness if he could call him?

			</div>



			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 The sun from the glass doors blinded him. It definitely did not help his headache. There near the doors stood a woman. He stopped, hesitating. Would he get in trouble because of this? Would she call the police? Still, he needed to get past her to get out. And he needed to urgently find where he is. No, he had to speak with her. But as he approached her he noticed something was off. Mainly, the figure appeared see-through. And when she turned, he almost jumped.

			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Welcome to Museum C39, how may I be of assistance”

			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 The hologram didn’t look human. Well, not fully. She looked like a bad imitation of one. Her face was too sharp and too slim, her neck was too long, and her eyes were too large, as if she was desperately trying to open them as much as possible. She looked like those horror images that circulated the internet when he was a child.

			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Ughhh… Hi.. Hello”, his throat was hoarse, “umm… What is this?”

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “You are at Museum C39”, the other replied in a pleasant, yet robotic manner.

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Yeah… but where?”

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “You are at Museum C39”, the exact same intonation.

			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 He looked around to see if there was something that could be of more help to him. A bit to the right of the doors were two booths, with a person sitting in one of them. He headed towards them, but as he got closer he recognised the same ghostly visage as the one next to the doors.

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Hi, excuse me, what is this place”

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “This is Museum C39, would you like a ticket for our exhibition”

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “But where are we???”, he sounded agitated now

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “You are at Museum C39”, right… Why did he expect a different reply?

			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			“Do you know what day it is?”, he asked... More to himself really.

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “It is Thursday", the ghost twisted its face to resemble a smile, "today we have tickets half-price”

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 So he was running late for work. He had to find a way to phone his office as quickly as possible. He stood there for a bit thinking.

			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Sorry, is there someone human I can talk to”

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			“Certainly! You can ask for assistance from my colleague”, the hologram replied, gesturing to the empty booth. He took a look inside, but it definitely was empty. Perhaps they were taking a break for a bit? He decided to wait there for their return.

			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 And then he heard it. <a onclick="playFootsteps()" style="cursor: pointer; text-decoration: underline; color: blue;">Footsteps</a>. The distinct echoing sounds of shoes on a stone floor. And faint speech. Without thinking, he started moving towards them. After ten or so steps he was running. He needed to find people. This whole place had started feeling like a horrible nightmare.
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 He was running through the exhibitions, past the displays, only stopping to listen for the direction of where the sounds were coming from. With every turn around the corner his stomach turned in excitement. He must have done two loops around the whole museum, without realising. He was desperate. And then he heard them right next to him. He stopped and started turning frantically. He heard the faint speech and finally pinpointed the origin of the sound. A speaker, protruding from the ceiling.
			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 It was a terrifying sensation that ran through him at that moment. It wasn’t the feeling of being alone. It was the deceiving feeling of being with others, a pleasant notion of the other, obscuring the unstoppable tide of being completely, utterly, alone. It felt familiar somehow.
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 But this felt worse. The hairs on the back of his neck slowly lifting, every sense in his body signaling “RUN” as if hunted by an invisible predator. Each squeak of shoes — a pang of razors across his skin, each step — quick look over his shoulder, and each distant voice — a cold hand around his neck. The terrifying presence of people that were not there, their signals, warmth, and sound there, without their origins. A memory of what had been. What was a clever marketing trick to induce comfort in visitors, to simulate others, somewhere far ahead, sharing in their museum experience, had now resulted in a simple, mind-numbing, PANIC!
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 He hadn’t even realised he was outside. It was as if he was sleep walking. Past the doors and down stairs, stopping at the bus stop. Only now did he see the buildings. An architectural style, which he had never seen before, with tall facades and windows the size of those on a ship. Their colour, hard to discern — perhaps dirty white? Perhaps grayish? Perhaps even blue? The stop was empty, apart from the slender figure of a robot. It's casing had chipped at severa points on his torso, showing the myriad of gears and tubes on the inside. In one hand it was holding a cane and had extended his other, as if awaiting a hand shake. Repeating the same words “gud morn, sir Kinston. gud morn, sir Kinston. gud morn, sir Kinston…”
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Hello, please present your card at the scanner
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 He slowly faced forward. Had it not been for this voice he would have never noticed that a bus had stopped in front of him. In fact it never made a sound while stopping. He ran his gaze lazily over the smooth aluminum surface. It seemed nothing like the buses from where he was, resembling more the high speed trains, with its oval shape and cone-like front. It took him quite awhile, maybe because of his state, to notice. The front had no wheels. He looked at the back. The same. He kneeled down and pressed his face against the hot pavement. The bus was floating a few inches above the ground.
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Hello, please present your card at the scanner”, the voice repeated.
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 He stood up, brushing the dirt from his knees. A quick look through the windows and he knew the bus was completely empty. There wasn't even a driver... Not that there was even a place for a driver. The interior looked more like the waiting room of a dentist office.
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Doors are closing. Next stop — Turing Park”, the voice announced cheerfully
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 And the bus drove off… Would it even be appropriate to call it “driving off”? Better perhaps — took off. It simply accelerated, joined the other fast moving cars on the road, and within a few seconds was out of sight.
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			“gud morn, sir Kinston. gud morn, sir Kinston”, the robot was still repeating.
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 There were no other pedestrians. Not that he would have noticed them if there were. His thoughts were scrambled. He was in an unknown city, he had no memory of coming here, and for some reason something seemed to be out of place. He couldn’t quite put his finger on it, though. His head was hurting from the noon sun. He was dehydrated.
			</div>
			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 Yes, water. His bodily functions sobered him abruptly. Looking around, most stores appeared to be abandoned. And as for the few that were still operating — he couldn’t discern their function. Across the street there was an entrance that reminded him of the pubs back home. Inside he was greeted by another robotic figure.
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Welcome, sir, a seat for one?”
			<br/>
			“A…aha”, he nodded in response.
			<br/>
“Very well, sir, as currently we are in off-peak hours, you may sit at the bar ”, it gestured towards the stools.
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 The pub felt rather cramped. It was no larger than the lunch room at their office building. There were two 4-person booths on each side of the room, with the bar opposite to the door. In the middle, 3 tables were combined, with chairs around them. On them — a reserved sign, next to a bowl of nuts. There was also the particular smell of pubs, one that cannot be described unless one has been to one. And then the description of the “pub smell” harkens a very poignant memory.
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Welcome, sir, is this your first time visiting our establishment?”, the bar-robot asked.
			<br/>
			“Y-yeah”
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 It reached under the counter, pulled out a glass, and filled it with beer from the tap.
			</div>

			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “On the house, sir”
			<div style="margin-top: 20px;"></div>
He nodded. He was too thirsty. Which led to his first mistake.
			<div style="margin-top: 20px;"></div>
“Blaaaaaghhhh”, spitting out the rather generous swig he had taken back into the glass, “Is.. is this non-alcoholic?”
			</div>


			<div style="margin-top: 20px;"></div>
			<div class="text-left">
  			 “Yes, sir. Since act D2C16-X3 all sale of alcohol has been prohibited”
<div style="margin-top: 20px;"></div>

He needed a few seconds to recover from the shock.
<br/>
“Can I have just water, please?”
<br/>
“Certainly, sir”
<div style="margin-top: 20px;"></div>

He drank it in one gulp. By the time he had put his glass down, the robot had already refilled it again. He was starting to feel really anxious. What sort of a hellish country had he found himself in? Who serves non-alcoholic beer from the tap? More importantly, how did he manage to get here? He was rubbing the temples on his head trying to remember. He was at work yesterday. Then he clocked out and...
<div style="margin-top: 20px;"></div>

“Will be a busy day today”, the bar-robot said, while dusting the counter.
<br/>
“S..Sorry?”
<br/>
“Will be a busy day today”, it repeated. “We have a party of 10 coming in shortly to watch the game”
<div style="margin-top: 20px;"></div>

His heart skipped. Finally. PEOPLE. He turned around on his stool to face towards the door. He stared at it intently. Waiting. His excitement had caused him to nervously bite his nails. His leg was getting restless. Soon the TV turnt on. On it was a ball in the middle of the football field. However there were not any players yet. The shots would occasionally change to show the empty field from a different angle. The bar-robot walked over to the table, carrying glasses of beer on his tray, serving one in front of each chair. The reservation must have been soon. Time seemed to slow down. One. Two. Three. Four…
<div style="margin-top: 20px;"></div>

But the door wasn’t opening. Noone came in. There were no movements, apart from the flicker from the TV. After 10 minutes or so, the bar-robot walked over to the table and took the glasses back behind the counter.
<div style="margin-top: 20px;"></div>

“W-what happened? Where are the people that were supposed to come here?”
<br/>
“Oh, you just missed them. They left when the game was over”, the bar-robot replied while cleaning the glasses.
<br/>
“I am sorry… Who came in?”
<br/>
“Mr. Robertson’s company. They have been coming for the past 300 years here whenever there is a game. If a local team is playing a party of 10 comes, otherwise only 6. If the previous day has rained they order 4 blond bears and 6 blacks. If the previous day has been sunny they order…”
<div style="margin-top: 20px;"></div>

He wasn’t listening. Something was terribly wrong. Was the robot malfunctioning… 300 years? And why did no one come in? Was he dreaming?
<div style="margin-top: 20px;"></div>

The door opened with a slam. The water from earlier had helped him wake up. It finally had clicked what had seemed off to him — there were no people there. Not in the museum, not in the bus, not on the streets, not anywhere. Where were they? Where was he? He was running around frantically. Around this corner... No one. Down that alley no one. He turnt a corner and ran into a door, busting through it. Running up the stairs, he rang each bell, slammed against each door, and shouted. It was somewhere around the 5th floor. He pushed on one of the handles and the door opened unexpectedly, causing him to trip as he entered. It was a small condo. The first door from the hallway led him to a combined living room and kitchen. The TV was on, showing the same ghost in the museum. A robot was taking clothes from a pile on its left, ironing them, and putting them neatly folded on its right. Another one was taking the clothes from the folded pile, washing them in the sink, and putting them back in the first pile.
<div style="margin-top: 20px;"></div>

He was panting like a dog. He had not run in a very long time. He was feeling a sharp pain in his left side. The robots didn’t seem to mind him. It was doubtful whether they had even noticed him, as they did not interrupt their cycle. His breathing was beginning to restore back to normal. The adrenaline had cooled off. His terror was now replaced with despair. What was this nightmare? He tried pinching and slapping himself, but he didn’t wake up. He couldn’t… He shouted again, but noone responded. Well, it was more of a whimper at this point. He didn’t know what to do. He had lost his will to fight this hell. He couldn’t even understand it. He turned around and gently closed the door of the apartment. Down the stairs, out the front, and left. He had no particular destination in mind.
<div style="margin-top: 20px;"></div>

The sirens seemed to be getting closer. He turned around to see an ambulance hovering towards him. It stopped next to the sidewalk and two robots wearing aprons came out of the back.
<div style="margin-top: 20px;"></div>

“Sir, we received reports of a man in distress, are you ok?”, asked one of them.
<div style="margin-top: 20px;"></div>

He stared at them blankly. Not so much in confusion anymore. It almost seemed comical to him.
<div style="margin-top: 20px;"></div>

“Sir, are you in pain? How would you rate your pain on the scale of 1–10?”
<div style="margin-top: 20px;"></div>

Silent again.
<div style="margin-top: 20px;"></div>

“Patient seems unresponsive, preparing device 52CA4F”
<div style="margin-top: 20px;"></div>

“May I speak to a doctor”, he said. He didn't have much hope. But maybe it could work.
<br/>
“We are doctors, sir, are you in pain?”
<br/>
“No, no — I meant human doctor”
<br/>
The robots froze in place.
<br/>
“Loading… module”, one of them beeped. “Sir, there are no human doctors.”
<br/>
“W…where are they?”
<br/>
“There haven’t been human doctors for a long time. With decree 4F, all tasks were to be performed by machines, leaving people to enjoy themselves fully with their leisurely activities.”
<br/>
“THEN WHERE IS EVERYONE?”, he shouted
<br/>
“Sir, I am afraid I cannot provide you with the location of all 101 billion 56 million 42 thousand and 33 people.”
<br/>
He didn’t know how to respond. He wanted to punch the tin can in front of him, until its electronics stopped working.
<br/>
“Then why is the city empty?”
<br/>
“Sir, I am afraid I do not understand the meaning of the word ‘empty’. I found this result online: The city currently has a population of 79 million 942 thousand and 112 people and a density of 10 people per square metre. Despite this great number of citizens, the medical sector has successfully ensured the health of each individual, reducing annual hospital patients to 0”.
<div style="margin-top: 20px;"></div>

He was starting to boil. It was the frustrating feeling of trying to Google something and continuously getting the wrong results. But if he punched the robot, would it hurt him instead more? One last attempt and after that he wouldn’t care.
<div style="margin-top: 20px;"></div>

Suddenly the machine wrapped his arms around him. He jumped and tried to push it away, but to no avail — the robot was too heavy. His struggle stopped when he felt a warmth around him. A strange soft sensation.
<div style="margin-top: 20px;"></div>

“My database shows 435 reports, which conclude that a hug can help calm a person down”
<div style="margin-top: 20px;"></div>

And it was a good imitation of one. If he closed his eyes, he could probably imagine another person with him. He could swear he smelt the faint scent of a female perfume and his mum’s shampoo. But in front of him stood a 2 metre statue. It possessed no human emotion. It didn’t know what a hug was. It had simply compiled instructions of what a hug would constitute and simulated it for him. This somehow made him feel a lot worse. A lot more alone.
<div style="margin-top: 20px;"></div>

“Do you feel better, sir”, the robot let go.
<br/>
“Yes”, he responded quietly
<br/>
“How would you rate your pain from 1 to 10”
<br/>
“0”, his voice was shaking a bit
<br/>
“Invalid instruction. Please repeat. How would you rate your pain from 1 to 10”
<br/>
“1”
<br/>
“Would you like us to take you for further examination?”
<br/>
“No, I am fine, thank you”, he was staring at the ground.
<br/>
“Have a pleasant night, sir”, the other robot said as he was entering the ambulance.
<br/>
“Th..Thanks. You too”
<div style="margin-top: 20px;"></div>

It was only when he lifted his gaze to see them hover off, did he realise he was crying. Everything was now a blur. The sun was beginning to set. One after another, the lights in front of him started turning on. Like those little fireflies, dancing at night. He looked back — the lights would turn off once he had gotten too far from them. At every intersection all he could see was the darkness ahead on each street. He couldn’t see where he was going. What was a clever marketing trick to save energy costs, had now made him feel like a marked target.
<div style="margin-top: 20px;"></div>

He had stopped. At first he didn’t quite recognise it, because it was dark. But when he got closer and the lights lit up, he was certain. This was the park he used to visit as a kid to go ice skating. And…
<div style="margin-top: 20px;"></div>

And this was where he fell into the water. That was the last thing he remembered before waking up at the museum. Was he dead? Was this his Hell, where he had to atone for his life’s misdeeds. He had always imagined it as a place that serves non-alcoholic beer.
<div style="margin-top: 20px;"></div>

In the park there was no lake anymore. It had been paved over, leaving room only for a small canal through the middle. Over the whole thing was a hologram. The sign on his right said “Map of T51”. He was slowly walking through it. It was always a pretty large town — he needed some good 2 hours to go from one end to the other, but that was mostly due to the traffic. However it had gotten much larger. As he stood on the edge of the hologram, he could barely discern what was at the other. And the buildings on it had spilled over from the paved out area onto the grass around it. When he looked closer he could see them slowly getting fuller. One floor appearing, soon another, and like that slowly rising like one of those city building games he played as a child.
<div style="margin-top: 20px;"></div>

— — — — — — — — — — — — — — — —
<div style="margin-top: 20px;"></div>

The city had long outlived and outgrew its people. And when they disappeared, now obsolete for its function, the city, built by the PEOPLE, for the PEOPLE, had continued to serve its
<br/>
PEOPLE.
<div style="margin-top: 20px;"></div>

The shops, open everyday from 8 til 21, continued to serve their invisible customers. The cinemas, projecting each year newly made movies, ever more spectacular, ever more in praise of “the human", sold tickets for each of their regular daily screenings. Somewhere far into the outskirts of the city, new buildings were raised to accommodate the ever growing population. Bills, still charged, mails still passed around, and unlucky few there were whose subscriptions still continued, with the city opening and closing its facilities for their needs. And the technocratic government still releasing new laws and regulations to serve the
<br/>
PEOPLE.
<div style="margin-top: 20px;"></div>

And in one of those books in the bookstore, to be sold to the PEOPLE, one of those little bots must have written to the
<br/>
PEOPLE:
<div style="margin-top: 20px;"></div>

“
<div style="margin-top: 20px;"></div>

Woe and rot to those who reaped but did not sow. Nothing remains beside their colossal work. And the memory of them, now stretched and perverted, as if to mock its makers.”
			</div>


			
			





	
		</div>
                <div class="col-xs-1 col-md-3"></div>
            </div>
           
            

        </div>
    </div>
 <audio id="footsteps" autoplay="false"
    >

  <source src="/aud/footsteps.mp3" type="audio/mpeg">

</audio>
<img id="snowflake" src="/imgs/snow.svg" width="500" height="500" style="display: none;" />
<img id="blank" src="/imgs/blank.svg" width="300" height="300" style="display: none;" />
<img id="robot" src="/imgs/robot.svg" width="500" height="500" style="display: none;" />
  </main>
  <%- include('footer'); %>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
    <script src="js/cof.js"
   >
  </script>
</body>

</html>